@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #000000;
}

h2 {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 190%;
}

h3 {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 140%;
}

p {
    letter-spacing: 1px;
    font-size: 90%;
}

.red-text {
    color: #fa1e1e;
}

img {
    border-radius: 5px;
}

/* header */

header {
    background-color: #f3f3f3;
    height: 90px;
    width: 100%;
    position: fixed;
    margin-top: -90px;
    z-index: 20;
}

h1 {
    font-weight: 500;
    letter-spacing: 2px;
    color: #2D5A27;
    margin-left: 20px;
}

#tomato-logo {
    color: #fa1e1e;
}

#logo {
    float: left;
    font-size: 240%;
}

#main-menu, #logo {
    line-height: 75px;
}

/* main menu */

#main-menu {
    font-size: 80%;
    letter-spacing: 2px;
    float: right;
}

#main-menu li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}

#main-menu a {
    text-decoration: none;
    color: #000000;
}

#main-menu a:hover {
    color: #2D5A27;
}

/* hero header section */

#hero-header {
    margin-top: 90px;
    height: 720px;
    width: 100%;
    position: relative;
}

#hero-image {
    height: 720px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#hero-header-content {
    font-size: 130%;
    letter-spacing: 4px;
    position: absolute;
    width: 480px;
    height: 160px;
    bottom: 325px;
    right: 200px;
    background-color: #f3f3f3;
    padding: 2px 0 0 8px;
    border-radius: 10px;
}

#hero-header-content h2 {
    font-size: 190%;
    font-weight: 700;
    letter-spacing: 2px;
    color: #000000;
    margin-bottom: 4px;
}

#hero-header-content p {
    color: #2D5A27;
    font-weight: 700;
    letter-spacing: 2px;
}

/* About us section */

#about-header {
    background-color: #f3f3f3;
    height: 220px;
    width: 100%;
    text-align: center;
    color: #2D5A27;
    line-height: 220px;
}

#about-section-content-1 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#about-left-content {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 30%;
    margin-right: 10px;
}

#about-right-content {
    display: inline-block;
    text-align: left;
    width: 30%;
    margin-left: 10px;
}

#about-main-image {
    width: 400px;
}

#about-section-content-2 {
    height: 390px;
    background-color: #f3f3f3;
    text-align: center;
    padding: 20px 50px 0 50px;
}

#asc2-left {
    width: 30%;
    float: left;
}

#asc2-right {
    width: 30%;
    float: right;
}

#asc2-middle {
    width: 30%;
    margin: 0 auto;
}

.asc2-paragraph {
    padding: 12px;
}

.asc2-header {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 90%;
}

/* 2022 Events section */

#event-header {
    background: url('../images/event-header-image.jpg') no-repeat center center;
    height: 220px;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 220px;
}

.event-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.events {
    margin: 0 0 40px 0;
}

.event-paragraph {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 300px;
    margin-right: 5px;

}

.event-image {
    display: inline-block;
    text-align: left;
    width: 250px;
    height: 250px;
    margin-left: 5px;
}

.event-paragraph a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.event-paragraph a:hover {
    color: #2D5A27;
}

/* contact section */

#contact-header {
    background-color: #f3f3f3;
    height: 220px;
    width: 100%;
    text-align: center;
    color: #2D5A27;
    line-height: 220px;
}

#contact-header-text {
    text-align: center;
    margin: 20px 0 10px 0;
}

.contact-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-form {
    background-color: #f3f3f3;
    padding: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 30%;
    margin-right: 5px;
    border-radius: 5px;
}

.contact-details {
    background-color: #f3f3f3;
    padding: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 30%;
    margin-left: 5px;
    border-radius: 5px;
}

.contact-details a {
    text-decoration: none;
    color: #000000;
}

.contact-details a:hover {
    color: #2D5A27;
}

.contact-details li {
    list-style: none;
}

.contact-details-p {
    margin-bottom: 10px;
}

.contact-h2 {
    text-align: center;
    font-size: 130%;
    color: #2D5A27;
    padding-bottom: 20px;
}

.input-form {
    text-align: right;
    width: 100%;
}

.input-form:hover {
    background-color: #2D5A27;
    color: #fff;
}

.input-form:active {
    background-color: #2D5A27;
    color: #fff;
}

label {
    letter-spacing: 1px;
    font-size: 90%;
}

.submit-button {
    background-color: #2D5A27;
    margin: 3px 0 3px 0;
    padding: 5px;
    color: #f3f3f3;
    border-radius: 3px;
}

.submit-button:hover {
    color: #2D5A27;
    background-color: #fff;
}

#form-info {
    text-align: center;
    margin: 5px 0 10px 0; 
    font-size: 80%;   
}



/* footer - Borrowed code from "Love Running" Project */

footer {
    height: 200px;
    background-color: #f3f3f3;
}

.social-networks-footer {
    text-align: center;
}

.social-networks-footer > li {
    display: inline;
}

.social-networks-footer i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #2D5A27
}

/* Media queries */

/* Adaptation for screens below 930px wide and down to 480px wide */

@media screen and (min-width: 480px) and (max-width: 930px) {
    
    header {
        height: 80px;
        margin-top: -80px;
    }

    #hero-header {
        margin-top: 80px;
    }

    #logo {
        margin: 20px 0 0 20px;
        font-size: 200%;
        
    }

    #main-menu {
        clear: both;
        float: right;
        
    }

    #main-menu, #logo {
        line-height: normal;
    }

    #hero-image {
        background: url('../images/hero-image-930.jpg') no-repeat center center;
    }
    
    #hero-header-content {
        left: 0%;
        font-size: 130%;
    }

    #about-header {
        line-height: 10;
    }
    
    #about-section-content-1 {
        text-align: center;
    }
    
    #about-left-content {
       width: 90%;
       text-align: center;
    }
    
    #about-right-content {
       width: 90%; 
       text-align: center;
    }
    
    #about-main-image {
        width: 300px;
        margin-top: 10px;
    }
    
    #about-section-content-2 {
        height: auto;
        text-align: center;
        
    }
    
    #asc2-left {
        width: 100%;
        
        float: none;
       
    }
    
    #asc2-right {
        width: 100%;
        float: none;
    }
    
    #asc2-middle {
        width: 100%;
        
        margin: 0;
    }
    
    .asc2-paragraph {
        padding: 12px;
    }
    
    .asc2-header {
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 90%;
    }

    .event-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .events {
        margin: 0 0 40px 0;
    }
    
    .event-paragraph {
        text-align: center;
        vertical-align: 0;
        width: 90%;
        margin: 0;
    
    }
    
    .event-image {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    
    .event-paragraph a {
        text-decoration: none;
        color: #000000;
        font-weight: 500;
    }
    
    .event-paragraph a:hover {
        color: #2D5A27;
    }

    .contact-form {
        width: 90%;
        margin: 0 0 20px 0; 
    }
    
    .contact-details {
        width: 90%;
        margin: 0 0 20px 0; 
    }
}

/* Adaptation for screens below 480px wide and down */

@media screen and (min-width: 0px) and (max-width: 480px) {

    header {
        height: 80px;
        margin-top: -80px;
    }

    #hero-header {
        margin-top: 80px;
    }

    #logo {
        margin: 20px 0 20px 20px;
        font-size: 100%;
    }

    #main-menu {
        clear: both;
        float: right;
        letter-spacing: 1px;
    }

    #main-menu, #logo {
        line-height: normal;
    }

    #hero-image {
        height: 680px;
        width: 100%;
        background: url('../images/hero-image-480.jpg') no-repeat center center;
    }
    
    #main-menu li {
        margin-right: 15px;
    }

    #hero-header {
        height: 680px;
    }

    #hero-header-content {
        font-size: 100%;
        left: 0%;
        width: 90%;
        height: 100px;
    }
    
    #hero-header-content h2 {
        font-size: 110%;
    }

    #about-header {
        line-height: 10;
    }
    
    #about-section-content-1 {
        text-align: center;
    }
    
    #about-left-content {
       width: 90%;
       text-align: center;
    }
    
    #about-right-content {
       width: 90%; 
       text-align: center;
    }
    
    #about-main-image {
        width: 300px;
        margin-top: 10px;
    }
    
    #about-section-content-2 {
        height: auto;
        text-align: center;
        
    }
    
    #asc2-left {
        width: 100%;
        
        float: none;
       
    }
    
    #asc2-right {
        width: 100%;
        
        float: none;
    }
    
    #asc2-middle {
        width: 100%;
        
        margin: 0;
    }
    
    .asc2-paragraph {
        padding: 12px;
    }
    
    .asc2-header {
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 90%;
    }

    .event-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .events {
        margin: 0 0 40px 0;
    }
    
    .event-paragraph {
        text-align: center;
        vertical-align: 0;
        width: 90%;
        margin: 0;
    
    }
    
    .event-image {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    
    .event-paragraph a {
        text-decoration: none;
        color: #000000;
        font-weight: 500;
    }
    
    .event-paragraph a:hover {
        color: #2D5A27;
    }

    #contact-header {
        font-size: 60%;
    }

    .contact-form {
        width: 90%;
        margin: 0 0 20px 0; 
    }
    
    .contact-details {
        width: 90%;
        margin: 0 0 20px 0; 
    }

}